$bg-color: #1d4863;
$element-color: #54a8c7;
$secondary-bg-color: #dceceb;
$header-color: #509490;

$white-color: #ffffff;
$grey-color: #dddddd;

$error-color: #e14243;
$warning-color: #e5d148;
$success-color: #2ebf94;
