@media only screen and (max-width: 540px) {
	.panel-header {
		font-size: 22px;

		div {
			width: 90%;
		}
	}

	.user-account-wrapper {
		font-size: 14px;
	}

	.response-wrapper {
		width: 100% !important;
	}
}
